body {
    display: flex;
    justify-content: space-evenly;
}

main {
    max-width: 800px;
    min-width: 400px;
}

h1 a {
    color: black;
    text-decoration: none;
}

.box {
    border-radius: 5px;
}

textarea,
.tab {
    width: 100%;
}

/* source : https://css-tricks.com/css3-tabs/ */
.tabs {
    list-style: none;
}

.tabs li {
    display: inline;
}

label[name="validateSelect"] {
    position: fixed;
    bottom: 35px;
    right: 600px;
    text-align: center;
    background-color: #BA55D3;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button[name="extract_txt"] {
    position: fixed;
    bottom: 10px;
    right: 800px;
    text-align: center;
    background-color: #DDA0DD;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
}

button[name="extract_anki"] {
    position: fixed;
    bottom: 10px;
    right: 500px;
    text-align: center;
    background-color: #DDA0DD;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
}

.tabs li a {
    color: black;
    float: left;
    display: block;
    padding: 4px 10px;
    margin-left: -1px;
    position: relative;
    left: 1px;
    background: white;
    text-decoration: none;
}

.tabs li a:hover {
    background: #ccc;
}


.group:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.box-wrap {
    position: relative;
    min-height: 150px;
}

.tabbed-area div div {
    background: white;
    padding: 20px;
    height: 100px;
    ;
    position: absolute;
    top: -1px;
    left: 0;
    /* width: 100%; */
}

.tabbed-area div div,
.tabs li a {
    border: 1px solid #ccc;
}

#url_form:target,
#text_form:target,
#file_form:target {
    z-index: 1;
}