<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TangoJuice</title>
    <link rel="icon" type="image/x-icon" href="../static/images/beverage_box.png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/style.css'>
</head>

<body>
    <main>
        <h1> <a href="/" class="header"><img src="../static/images/beverage_box.png" alt="beverage box"
                    class="beverage-box">TangoJuice</a>
        </h1>
        <p>Delicious vocabulary extractor</p>
        {% block content %}
        {% endblock %}
    </main>

</html>