{% extends "base.html" %}

{% block content %}
<form action="/scrape" method="POST" enctype="multipart/form-data">
    <div class="tabbed-area">
        <ul class="tabs group">
            <li><a href="#url_form">From link</a></li>
            <li><a href="#text_form">From text</a></li>
            <li><a href="#file_form">From .srt file</a></li>
        </ul>
        <div class="box-wrap">
            <div id="url_form" class="tab">
                <label for="url">Scrape this url</label>
                <br />
                <input id="url" name="url" type="url"></input>
                <br />
                <label for="recursive">Recursive</label>
                <br />
                <input type="checkbox" id="recursive" name="recursive" value="true">
            </div>
            <div id="text_form" class="tab">
                <label for="text">Extract vocabulary from this text</label>
                <br />
                <textarea id="text" name="text" rows="5" cols="50"></textarea>
            </div>
            <div id="file_form" class="tab">
                <label for="srtfile">Extract vocabulary from this subtitle file (.srt only)</label>
                <br />
                <input type="file" name="srtfile" accept=".srt" />
            </div>
        </div>
    </div>

    <div id="inputLangdiv">
        <label for="inputLang">Langue de la source</label>
        <select id="inputLang" name="inputLang">
            <!-- TODO automatiser cette liste à partir de la base de données -->
            <option value="de">Allemand</option>
            <option value="en">Anglais</option>
            <option value="fr">Français</option>
            <option value="ja">Japonais</option>
            <option value="zh">Mandarin</option>
            <option value="no">Mandarin</option>
        </select>
    </div>

    <div id="outputLangdiv">
        <label for="outputLang">Langue de la traduction</label>
        <select id="outputLang" name="outputLang">
            <!-- Ici mettre toutes les langues de Google Translate ! -->
            <option>Allemand</option>
            <option>Anglais</option>
            <option>Français</option>
            <option>Japonais</option>
        </select>
    </div>

    <div id="nbWordsdiv">
        <label for="nbWords">Number of words to extract</label>
        <select id="nbWords" name="nbWords" type="number">
            {% for i in range(1, 21) %}
            {% if i*5 == 25 %}
            <option value="{{ i * 5 }}" selected>{{ i * 5 }}</option>
            {% else %}
            <option value="{{ i * 5 }}">{{ i * 5 }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div id="extractButton">
        <button type="submit">Extract</button>
    </div>
</form>
{% endblock %}