<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TangoJuice</title>
    <link rel="icon" type="image/x-icon" href="images/beverage_box.png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <h1>TangoJuice</h1>
    <p>Délicieux extracteur de vocabulaire</p>

    <form action="/scrape" method="POST">
        <label for="url">Url à scraper</label>
        <input id="url" name="url" type="url"></input>
        <button type="submit">Scrape</button>
        <br />
        <label for="recursive">Recursive</label>
        <input type="checkbox" id="recursive" name="recursive" value="true">
        <label for="inputLang">Langue de la source</label>
        <select id="inputLang" name="inputLang">
            <!-- TODO automatiser cette liste à partir de la base de données -->
            <option value="de">Allemand</option>
            <option value="en">Anglais</option>
            <option value="fr">Français</option>
            <option value="ja">Japonais</option>
        </select>
        <label for="outputLang">Langue de la traduction</label>
        <select id="outputLang" name="outputLang">
            <!-- Ici mettre toutes les langues de Google Translate ! -->
            <option>Allemand</option>
            <option>Anglais</option>
            <option>Français</option>
            <option>Japonais</option>
        </select>
    </form>

</html>