{% extends "base.html" %}

{% block content %}
<form action="/extract" method="POST" enctype="multipart/form-data">
    <div class="tabbed-area">
        <ul class="tabs group">
            <li><a href="#url_form">From link</a></li>
            <li><a href="#text_form">From text</a></li>
            <li><a href="#file_form">From .srt file</a></li>
        </ul>
        <div class="box-wrap">
            <div id="url_form" class="tab">
                <label for="url">Scrape this url</label>
                <br />
                <input id="url" name="url" type="url"></input>
                <br />
                <label for="recursive">Recursive</label>
                <br />
                <input type="checkbox" id="recursive" name="recursive" value="true">
            </div>
            <div id="text_form" class="tab">
                <label for="text">Extract vocabulary from this text</label>
                <br />
                <textarea id="text" name="text" rows="5" cols="50"></textarea>
            </div>
            <div id="file_form" class="tab">
                <label for="srtfile">Extract vocabulary from this subtitle file (.srt only)</label>
                <br />
                <input type="file" name="srtfile" accept=".srt" />
            </div>
        </div>
    </div>

    <div id="inputLangdiv">
        <label for="inputLang">Language of the document</label>
        <select id="inputLang" name="inputLang">
            <!-- TODO automatiser cette liste à partir de la base de données -->
            <option value="de">German</option>
            <option value="en">English</option>
            <option value="fr">French</option>
            <option value="ja">Japanese</option>
            <option value="zh">Mandarin</option>
            <!-- <option value="no">Norwegian</option> -->
        </select>
    </div>

    <div id="outputLangdiv">
        <label for="outputLang">Translation language</label>
        <select id="outputLang" name="outputLang">
            {% for item in output_languages %}
            {% if item.code == "EN-US" %}
            <option value="{{item.code}}" selected>{{item.name}}</option>
            {% else %}
            <option value="{{item.code}}">{{item.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <div id="nbWordsdiv">
        <label for="nbWords">Number of words to extract</label>
        <select id="nbWords" name="nbWords" type="number">
            {% for i in range(1, 21) %}
            {% if i*5 == 25 %}
            <option value="{{ i * 5 }}" selected>{{ i * 5 }}</option>
            {% else %}
            <option value="{{ i * 5 }}">{{ i * 5 }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div id="rareWordsOnly">
        <label for="rareWordsOnly">Remove common words</label>
        <input type="checkbox" id="rareWordsOnly" name="rareWordsOnly" value="true" checked>
    </div>
    <div id="noPropNouns">
        <label for="noPropNouns">Remove proper nouns</label>
        <input type="checkbox" id="noPropNouns" name="noPropNouns" value="true" checked>
    </div>
    <div id="extractButton">
        <button type="submit">Extract</button>
        <button type="submit" formaction="/anki">get Anki deck</button>
    </div>
</form>
{% endblock %}